torch==2.4.0+cpu

# Stable Baselines3 - phải khớp với version dùng khi train trên Colab
stable-baselines3==2.3.2

# Gymnasium - phải khớp với version train
gymnasium==0.29.1

# Sklearn - dùng cho MinMaxScaler (scaler.pkl)
scikit-learn==1.6.1

# Kubernetes Python client
kubernetes==29.0.0

# HTTP requests cho Prometheus
requests==2.31.0

# Numpy
numpy==2.0.2

# Joblib - dùng để load scaler.pkl
joblib==1.3.2
